* {
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
  color: aliceblue;
}
body {
  background: linear-gradient(
    130deg,
    rgba(42, 42, 42, 1) 0%,
    rgba(47, 47, 47, 1) 50%,
    rgba(198, 198, 198, 1) 100%
  );
}

.card {
  margin: 30px auto 0;
  max-width: 1200px;
  padding: 20px 40px;
  text-align: center;
  border-radius: 10px;
  height: 100vh;
}
@media screen and (max-width: 600px) {
  .card {
    margin: 30px auto 0;
    padding: 20px 40px;
    text-align: center;
    border-radius: 10px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* .card * {
    font-size: 15px;
  } */
  .card img {
    max-width: 30px;
  }
}
.card-container {
  background: linear-gradient(
    125deg,
    rgba(78, 206, 255, 1) 0%,
    rgba(31, 57, 200, 1) 50%,
    rgba(134, 6, 162, 1) 100%
  );
  padding: 20px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search input {
  border: 0;
  outline: 0;
  border-radius: 10px;
  padding: 20px;
  max-height: 50px;
  min-width: 60px;
  flex: 1;
  background-color: white;
  color: black;
}

.search > *:not(:last-child) {
  margin-right: 10px;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}
.weather-icon img {
  max-width: 100px;
}
.more-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container {
  display: flex;
  align-items: center;
}
.col-1 {
  margin-right: 20px;
}
.col-1 img {
  max-width: 70px;
}

.settings-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.settings-container * {
  color: black;
}
.settings-container p {
  color: white;
}
.settings-container select {
  border-radius: 10px;
  margin-left: 10px;
  padding: 15px;
}
